#---------------------------------------------------------------------
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
# 02111-1307, USA.
#
# ©2012 - X Engineering Software Systems Corp. (www.xess.com)
#---------------------------------------------------------------------

NET fpgaClk_i LOC = p43;    # 12 MHz clock input.

# Channel connections to SD card.
NET sclk_o         LOC = p44;    # chanClk_io
NET usdflashCs_bo  LOC = p36;    # chan_io<0>
NET mosi_o         LOC = p37;    # chan_io<1>
NET miso_i         LOC = p39;    # chan_i<2>

##############################
# I/O Drive
##############################
NET * IOSTANDARD = LVTTL;

##############################
# Clock Nets
##############################
NET "fpgaClk_i" TNM_NET =  "fpgaClk_i";
TIMESPEC "TSfpgaClk_i" = PERIOD "fpgaClk_i" 12 MHz HIGH 50%;
NET "fpgaClk_i" CLOCK_DEDICATED_ROUTE = FALSE;