net a<0>	loc=p49;
net a<1>	loc=p48;
net a<2>	loc=p46;
net a<3>	loc=p35;
net a<4>	loc=p27;
net a<5>	loc=p25;
net a<6>	loc=p24;
net a<7>	loc=p23;
net a<8>	loc=p28;
net a<9>	loc=p29;
net a<10>	loc=p51;
net a<11>	loc=p30;
net bs	loc=p53;
net cas_b	loc=p60;
net chanClk	loc=p41;
net chan<0>	loc=p43;
net chan<1>	loc=p44;
net chan<2>	loc=p50;
net chan<3>	loc=p52;
net chan<4>	loc=p56;
net chan<5>	loc=p57;
net chan<6>	loc=p61;
net chan<7>	loc=p62;
net chan<8>	loc=p72;
net chan<9>	loc=p73;
net chan<10>	loc=p83;
net chan<11>	loc=p84;
net chan<12>	loc=p88;
net chan<13>	loc=p37;
net chan<14>	loc=p36;
net chan<15>	loc=p33;
net chan<16>	loc=p32;
net chan<17>	loc=p20;
net chan<18>	loc=p19;
net chan<19>	loc=p13;
net chan<20>	loc=p12;
net chan<21>	loc=p4;
net chan<22>	loc=p3;
net chan<23>	loc=p94;
net chan<24>	loc=p93;
net chan<25>	loc=p89;
net d<0>	loc=p90;
net d<1>	loc=p77;
net d<2>	loc=p78;
net d<3>	loc=p85;
net d<4>	loc=p86;
net d<5>	loc=p71;
net d<6>	loc=p70;
net d<7>	loc=p65;
net d<8>	loc=p16;
net d<9>	loc=p15;
net d<10>	loc=p10;
net d<11>	loc=p9;
net d<12>	loc=p6;
net d<13>	loc=p5;
net d<14>	loc=p99;
net d<15>	loc=p98;
net dqm	loc=p34;
net fpgaClk	loc=p40;
net ras_b	loc=p59;
net sdramClk	loc=p31;
net we_b	loc=p64;

