#---------------------------------------------------------------------
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
# 02111-1307, USA.
#
# ©1997-2010 - X Engineering Software Systems Corp. (www.xess.com)
#---------------------------------------------------------------------

net fpgaClk       loc = p43;

net sdramClk      loc = p40;
net sdramClkFb   loc = p41;
net ras_b          loc = p59;
net cas_b          loc = p60;
net we_b           loc = p64;
net bs             loc = p53;
net a<0>           loc = p49;
net a<1>           loc = p48;
net a<2>           loc = p46;
net a<3>           loc = p31;
net a<4>           loc = p30;
net a<5>           loc = p29;
net a<6>           loc = p28;
net a<7>           loc = p27;
net a<8>           loc = p23;
net a<9>           loc = p24;
net a<10>          loc = p51;
net a<11>          loc = p25;
net d<0>           loc = p90;
net d<1>           loc = p77;
net d<2>           loc = p78;
net d<3>           loc = p85;
net d<4>           loc = p86;
net d<5>           loc = p71;
net d<6>           loc = p70;
net d<7>           loc = p65;
net d<8>           loc = p16;
net d<9>           loc = p15;
net d<10>          loc = p10;
net d<11>          loc = p9;
net d<12>          loc = p6;
net d<13>          loc = p5;
net d<14>          loc = p99;
net d<15>          loc = p98;

net chanClk       loc = p44;
net chan<0>        loc = p36;
net chan<1>        loc = p37;
net chan<2>        loc = p39;
net chan<3>        loc = p50;
net chan<4>        loc = p52;
net chan<5>        loc = p56;
net chan<6>        loc = p57;
net chan<7>        loc = p61;
net chan<8>        loc = p62;
net chan<9>        loc = p68;
net chan<10>       loc = p72;
net chan<11>       loc = p73;
net chan<12>       loc = p82;
net chan<13>       loc = p83;
net chan<14>       loc = p84;
net chan<15>       loc = p35;
net chan<16>       loc = p34;
net chan<17>       loc = p33;
net chan<18>       loc = p32;
net chan<19>       loc = p21;
net chan<20>       loc = p20;
net chan<21>       loc = p19;
net chan<22>       loc = p13;
net chan<23>       loc = p12;
net chan<24>       loc = p7;
net chan<25>       loc = p4;
net chan<26>       loc = p3;
net chan<27>       loc = p97;
net chan<28>       loc = p94;
net chan<29>       loc = p93;
net chan<30>       loc = p89;
net chan<31>       loc = p88;

net fpgaClk       IOSTANDARD = LVTTL;
net sdramClk      IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8;
net a*             IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net bs             IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net ras_b          IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net cas_b          IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net we_b           IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net d*             IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
net chanClk       IOSTANDARD = LVTTL;
net chan*          IOSTANDARD = LVTTL;

NET "fpgaClk" TNM_NET = "fpgaClk";
TIMESPEC "TS_fpga_clk" = PERIOD "fpgaClk" 83 ns HIGH 50%;

NET "fpgaClk" CLOCK_DEDICATED_ROUTE = FALSE;